# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

rdesktop-smartcard.tar.gz
rdesktop-1.8.1/Makefile
rdesktop-1.8.1/config.log
rdesktop-1.8.1/config.status
rdesktop-1.8.1/rdesktop

